@charset "UTF-8";
/* CSS Document */
body {
      position: relative; 
	box-sizing: border-box;
  }
  #section1 {padding-top:100px;height:500px;}

.kuan {
	background-color: #F1F5F8;
	height:150px;
	border: 1px solid #bae2ff;
	float: left;
	
}
.gametitle {
	text-align:center;
	background-color: #BAE2FF;
	height: 29px;
	font-size: 16px;
	margin: 0;
}
.left {
	width:50%;
	
	float: left;
	
}
.middle {
	width:15%;
	
	float: left;
}
.right {
	width:35%;
	
	float: left;
}
.game {
	height:28px;
	
	
}
.win {
	width:20px;
	margin-left: 5px;
	float:left;
}
.team {
	
	text-align: left;
	margin-left: 30px;
	margin-top: 3px;
}
.member {
	
	text-align: left;
	margin-left: 30px;
}
.line {
	width:100%;
	background-color: #E1E1E1;
	height: 0.5px;
	position: relative;
	top:28px;
}



/* HOME PAGE */

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
 
  /* End Header */

  /* Home Page */
  
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  
  /* End Home Page */

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Home Page */


  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 350px;
    margin: 0 auto 15px;
  }
}


