@charset "UTF-8";
/* CSS Document */
/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End CSS reset */

/* — Header —  */
nav {
	width: 100%;
	height: 80px;
	background: linear-gradient(to right, #1072C0, #00A5D5); 
	text-align: center;
	padding-top: 15px;
	font-family: Helvetica,Arial,sans-serif;
	color: white;
}
nav h1 {
	line-height: 30px;
	font-size: 30px;
}
#place,#time {
	width: 200px;
	margin: 5px auto;
	font-size: 15px;
}
#search {
	position: absolute;
	float: right;
	top: 20px;
	right: 20px;
}
#places {
	width: 100%;
	height: 32px;
	background-color: white;
	
}

/*— End Header —  */
/*— Start Body —  */
body{
	background-color: #F8F8F8;
	font-family: Helvetica,Arial,sans-serif;
}

#places ul {
	float: right;
}

#places li {
	float: left;
	line-height: 28px;
	
}
#places a {
	padding: 10px 12px;
	font-size: 12px;
	color: #9A9A9A;
}
#places a:link, #places a:visited { 
    color: #088CCB;
    text-decoration: none;
    cursor: auto;
}
#places a:hover {
	color: white;
	background-color: #088CCB;
}

.place-title {
	text-align: center;
	font-size: 25px;
	margin: 30px 0 20px 0;
}
.game-end,.game-now,.game-nostart {
	width: 320px;
	height: 150px;
	background-color: white;
	border: solid;
	border-width: 1px;
	font-size: 13px;
	position: relative;
	float: left;
	margin: 9px;
}
.game-end {
	border-color: #94D1FF;
}
.game-now {
	border-color: #FFA867;	
}
.game-nostart {
	border-color: #F0F0F0;	
}

.game-title-end, .game-title-now, .game-title-nostart {
	width: 100%;
	height: 30px;
	text-align: center;
	color: white;
	position: relative;
}
.game-title-end, .game-footer-end {
	background: linear-gradient(to right, #1072C0, #00A5D5); 
}
.game-title-now, .game-footer-now {
	background: linear-gradient(to right, #FF6209, #FBB761); 
}
.game-title-nostart, .game-footer-nostart {
	background: linear-gradient(to right, #B3B3B3, #B3B3B3); 
}
.game-title-end h2, .game-title-now h2, .game-title-nostart h2{
	padding-top: 8px;
}
.place-order {
	float: left;
	font-size: 15px;
	top: 6px;
	left: 7px;
	position: absolute;
}
.game-status {
	float: left;
	font-size: 12px;
	top: 8px;
	left: 30px;
	position: absolute;
}
.game-item {
	text-align: center;
	width: 100%;
	height: 18px;
	padding: 5px;
}
.game-footer-end, .game-footer-now, .game-footer-nostart {
	width: 100%;
	height: 9px;
	position:absolute;
	right: 0px;
	bottom: 0px;
}
.left {
	width: 160px;
	height: 92px;
	float: left;
	
}
.team {
	margin-top: 10px;
}
.team-number-end, .team-number-now, .team-number-nostart {
	font-size: 20px;
	font-weight: 600;
	float: left;
	margin: 5px;
	
}
.team-number-end, .players-end {
	color: #088CCB;
}
.team-number-now, .players-now {
	color: #FD862E;
}
.team-number-nostart, .players-nostart {
	color: #B2B2B2;
}
.team-name {
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	padding-top: 2px;
	overflow: hidden;
}
.players-end, .players-now, .players-nostart {
	font-size: 12px;
	text-align: center;
	padding-top: 2px;
}
.right {
	width: 112px;
	height: 92px;
	float: right;
	
}
.scores {
	margin-top: 0;
	float:left;
}
.score-title {
	text-align: center;
}
.score-end, .score-now, .score-nostart {
	width: 30px;
	height: 30px;
	text-align: center;
	color: white;
	position: relative;
	margin: 3px;
}
.score-end {
	background-color: #088CCB;
}
.score-now {
	background-color: #FD862E;
}
.score-nostart {
	background-color: #B2B2B2;
}
.score-end h1, .score-now h1, .score-nostart h1 {
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
}
.score-end span {
	position: absolute;
	top: 2px;
	right: 2px;
	font-size: 10px;
	
}
.middle {
	width: 33px;
	height: 92px;
	float: right;
}
.result-title {
	width:100%;
	height: 15px;
}
.result-sign {
	padding: 6px 2px 5px 0px;
}
.points-title {
	text-align: center;
}
.point {
	width: 30px;
	height: 30px;
	text-align: center;
	position: relative;
	margin: 3px;
}
.point h1 {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
}
hr {
	width: 100%;
	border:none;
	border-top:1px solid #E6E6E6;
	margin-bottom: 30px;
	
}
/*— End Body —  */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-width: 1024px) {
/* — Header —  */

/*— End Header —  */
/*— Start Body —  */
#main {
	width:1024px;
	height: 1000px;
	margin: 0 auto;
}
/*— End Body —  */
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 711px) and (max-width: 1023px) {
/* — Header —  */

/*— End Header —  */
/*— Start Body —  */
#main {
	width:700px;
	height: 1000px;
	margin: 0 auto;
}
#places {
	height: 60px;

}
/*— End Body —  */
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 710px) {
#main {
	width:340px;
	height: 1000px;
	margin: 0 auto;
}
#places {
	height: 60px;

}	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
/* — Header —  */	
nav h1 {
	font-size: 20px;
}
/*— End Header —  */
/*— Start Body —  */
#main {
	width:340px;
	height: 1000px;
	margin: 0 auto;
}
#places {
	height: 90px;

}	
	
}


